{% extends '_base.html' %}

{% block title %}Welcome - {{ block.super }}{% endblock %}

{% block content %}
  {% include 'core/includes/_hero.html' %}
  <div class="space-y-14">
    {% include 'blog/includes/_about_blog.html' %}
    <ul class="space-y-8">
      {% for post in posts %}
        {% include 'blog/includes/_post.html' %}
      {% endfor %}
    </ul>
    <div class="flex justify-center" style="opacity: 1; transform: none">
      <a
        href="{% url 'blog:post_list' %}"
        class="
          flex
          justify-center
          items-center
          inline-block
          px-4
          py-3
          font-semibold
          text-center
          transition-colors
          duration-150
          ease-in-out
          rounded-md
          border border-transparent
          rounded-md
          focus:outline-none
          focus:shadow-outline
          bg-indigo-200
          text-indigo-800
          hover:bg-indigo-500
          hover:text-white
          dark:bg-indigo-500
          dark:text-indigo-100
          dark:hover:bg-indigo-400
          px-8
        "
        up-dash
        >
        Visit My Blog
      </a>
    </div>
  </div>
{% endblock %}
