<div class="mx-4 md:mx-0 text-center">
  <p
    class="
      font-semibold
      leading-6
      tracking-wide
      text-indigo-600
      uppercase
      text-md
      mb-2
      xl:text-xl
      xl:leading-6
      dark:text-indigo-500
    "
  >
    Blog
  </p>
  <h2
    class="
      tracking-tight
      text-gray-900
      dark:text-gray-100
      text-3xl
      md:text-4xl
      xl:text-5xl
      font-bold
      leading-tight
      xl:leading-tight
    "
  >
    {% if is_blog_page %}
      All Articles
    {% else %}
      Latest Articles
    {% endif %}
  </h2>
  <p
    class="
      max-w-2xl
      mt-4
      text-xl
      md:text-2xl
      leading-7
      text-gray-500
      dark:text-gray-100
      lg:mx-auto
      xl:leading-9
    "
  >
    Here are my latest written articles, I write about programming and server related topics.
  </p>
</div>
