<footer class="mt-32 space-y-4">
  <div
    class="container max-w-3xl mx-auto xl:max-w-5xl px-4 xl:px-0 space-y-2 text-center"
  >
    <div class="flex flex-wrap justify-center space-x-4">
      <a
        href="https://twitter.com/alnuaimi942"
        target="_blank"
        class="
          px-4
          py-2
          font-semibold
          transition-colors
          duration-300
          ease-in-out
          rounded-md
          hover:bg-twitter-200 hover:bg-gray-800
        "
        rel="noopener noreferrer"
        >Twitter</a
      >
      <a
        href="https://github.com/alnuaimi94"
        target="_blank"
        class="
          px-4
          py-2
          font-semibold
          transition-colors
          duration-300
          ease-in-out
          rounded-md
          hover:bg-github-200 hover:bg-gray-800
        "
        rel="noopener noreferrer"
        >GitHub</a
      >
      <a
        href="https://linkedin.com/"
        target="_blank"
        class="
          px-4
          py-2
          font-semibold
          transition-colors
          duration-300
          ease-in-out
          rounded-md
          hover:bg-linkedin-200 hover:bg-gray-800
        "
        rel="noopener noreferrer"
        >LinkedIn</a
      >
    </div>
    <div class="flex flex-wrap justify-center space-x-2 text-gray-500">
      <a
        href="#"
        class="
          px-2
          py-2
          text-xs
          font-semibold
          transition-colors
          duration-300
          ease-in-out
          rounded-md
          hover:text-yellow-500
        "
        >RSS Feed</a
      >
      <a
        href="#"
        class="
          px-2
          py-2
          text-xs
          font-semibold
          transition-colors
          duration-300
          ease-in-out
          rounded-md
          hover:text-yellow-500
        "
        >Atom Feed</a
      >
      <a
        href="#"
        class="
          px-2
          py-2
          text-xs
          font-semibold
          transition-colors
          duration-300
          ease-in-out
          r
          ounded-md
          hover:text-yellow-500
        "
        >JSON Feed</a
      >
    </div>
  </div>
  <div class="py-4 bg-indigo-100 dark:bg-gray-800">
    <div class="container max-w-3xl mx-auto xl:max-w-5xl px-4 xl:px-0 text-center">
      <span class="font-semibold text-indigo-800 dark:text-gray-300">
        © {% now "Y" %} CodeWithAbdullah
      </span>
    </div>
  </div>
</footer>
