<header
  class="
    container
    max-w-3xl
    xl:max-w-5xl
    xl:px-0
    mx-auto
    w-full
    px-4
    py-8
    md:pb-16
    md:pt-10
  "
>
  <nav
    class="
      flex flex-wrap
      items-center
      p-4
      space-y-6
      bg-white
      dark:bg-gray-900
      md:space-y-0
      md:flex-no-wrap
      rounded-xl
    "
  >
    <a href="/" class="flex-1" up-dash>
      <h1
        class="
          text-4xl
          font-semibold
          tracking-tight
          text-center text-indigo-600
          dark:text-indigo-500
          md:text-2xl md:text-left
        "
      >
        CodeWithAbdullah
      </h1>
    </a>
    <ul
      class="
        flex
        items-center
        justify-center
        flex-none
        w-full
        space-x-2
        place-items-center
        md:w-auto
      "
    >
      <li class="relative">
        <a
          href="#"
          class="
            relative
            z-10
            inline-block
            p-2
            text-center
            transition-colors
            duration-100
            ease-in-out
            rounded-md
            sm:inline
            md:px-4
            hover:bg-gray-800
          "
        >
          <span class="font-semibold text-md">Blog</span>
        </a>
      </li>
      <li class="relative">
        <a
          href="#"
          class="
            relative
            z-10
            inline-block
            p-2
            text-center
            transition-colors
            duration-100
            ease-in-out
            rounded-md
            sm:inline
            md:px-4
            hover:bg-gray-800
          "
        >
          <span class="font-semibold text-md">Projects</span>
        </a>
      </li>
      <li class="relative">
        <a
          href="#"
          class="
            relative
            z-10
            inline-block
            p-2
            text-center
            transition-colors
            duration-100
            ease-in-out
            rounded-md
            sm:inline
            md:px-4
            hover:bg-gray-800
          "
        >
          <span class="font-semibold text-md">About</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
